body{
	background: #fff url(../images/bg.jpg) 50% 50%;
	font: normal 14px/1.5 'Century Gothic', serif;
}
a, a:hover, a:focus{
	font-family: 'PT Serif', serif;
	text-decoration: none;
}
.nav>li>a:focus, 
.nav>li>a:hover{
	background: transparent;
}
.clr{
	content: '';
	clear: both;
	display: block;
}
.news-form{
	position: relative;
}

/* Global */
.wrap{
	padding: 0 15px;
}
.container{
	width: 100%;
	max-width: 1535px;
}
.container-fluid{
	outline: #876d49 solid 1px;
	border-bottom: 1px solid #f1cfa1;
}
.title{
	position: relative;
	color: #876d49;
	font: 700 20px 'Century Gothic', serif;
	text-transform: uppercase;
}
.content .title span.text-center{
	display: inline-block;
	padding: 5px 17px;
	margin: 75px 0;
	border: 2px solid #876d49;
	outline: #f1cfa1 solid 1px;
	background: url(../images/bg.jpg);
}
.content .title:before{
	left: 0;
}
.content .title:before, 
.content .title:after{
	position: absolute; 
	content: " ";
	top: 50%;
	width: 50%;
	padding-top: 1px;
	border-top: 1px solid #f1cfa1;
	border-bottom: 1px solid #876d49;
	z-index: -1;
}
.content .title:after{
	right: 0;
}
.description,
.blog-date,
.author-info,
.input-name {
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: 'PT Serif', serif;
}
.btn{
	margin: 20px 0;
	padding: 20px;
	border-color: transparent;
	border-radius: 0;
	font-weight: 700;
	font-size: 18px;
	font-family: 'PT Serif';
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn-default{
	padding: 15px 30px;
	color: #868686;
	border: 2px solid #868686;
}
.btn-primary{
	background: #916d3b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus{
	outline: none;
	background: #916d3b;
	border-color: transparent;
}

/* Header */
.wrap,
.header,
.book-head{
	max-width: 1260px;
	margin: 0 auto;
}
.header .navbar{
	margin: 0;
}
.header #main-menu{
	float: right;
	padding: 20px 15px;
}
.header .navbar-brand{
	height: 94px;
	padding-top: 34px;
}
.header .nav.social{
	height: 50px;
	margin-right: 40px;
}
.header .navbar-nav>li>a{
	color: #442c0a;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.header .navbar-nav.social>li>a{
	width: 38px;
	height: 38px;
	padding: 6px 0;
	margin: 6px 7px;
	text-align: center;
	border: 2px solid #4d3e27;
}
.header .navbar-toggle.btn{
	margin-right: 40px;
}
.header .btn{
	margin: 10px;
	padding: 5px 15px;
}
.header span.menu{
	font-size: 16px;
}

/* Side-bar */
.btn-side{
	position: absolute;
	top: 35px;
	right: 15px;
	color: #916d3b;
	font-size: 18px;
}
.fa.fa-times{
	float: right;
	color: #ffffff;
	font-size: 22px;
}
.side-bar{
	position: fixed;
	max-width: 350px;
	top: 0;
	bottom: 0;
	right: -350px;
	padding: 35px;
	color: #ffffff;
	background: #2f2f2f;
	border-left: 1px solid #000000;
	overflow: auto;
	z-index: 20;
	transition: right 1s;
}
.side-title{
	font-weight: 700;
	font-size: 22px;
}
.side-bar .btn{
	font-size: 14px;
	padding: 10px 20px;
}
.side-bar .book-author{
	font-size: 16px;
}
.side-bar img{
	margin: 0 auto;
}
.side-book img{
	margin: 40px auto;
}
.side-bar .description{
	color: #d7d7d7;
}
.side-bar .side-book{
	padding: 20px 0;
	border-bottom: 1px solid #504e4e;
}
.side-bar .side-author{
	padding: 20px 0;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #504e4e;
}
.side-author .author-info a{
	color: #c8c8c8;
	font-size: 16px;
}
.side-bar .side-blog{
	padding: 20px 0;
	border-top: 1px solid #000000;
}
.side-bar .post{
	width: 250px;
	margin: 10px auto;
	padding: 30px;
	background: #504e4e;
}
.post .posted{
	color: #efefef;
}
.side-blog .blog-name{
	font-size: 16px;
	font-weight: 700;
}
.show-menu .side-bar{
	right: 0;
}
.show-menu .btn-side{
	right: 35px;
}
@media(max-width: 768px){
	.btn-side{
		top: 15px;
		right: 0;
	}
	.header .nav.social{
		margin-right: 0;
	}
	.header #main-menu{
		float: none;
		margin: 0 -16px;
		padding: 0 15px;
		background: #0a0a0a;
		text-align: center;
	}
	.header .main-menu{
		margin: 0 -15px;
	}
	.header .navbar-brand{
		height: 66px;
		padding: 20px 0;
	}
	.header .navbar-brand>img{
		height: 30px;
	}
	.header .navbar-nav>li>a{
		color: #ffffff;
	}
	.header .nav.main-menu>li{
		padding: 5px 0;
		border-bottom: 1px solid #2f2f2f;
	}
	.header .nav.main-menu>li:hover,
	.header .navbar-nav.social>li>a:hover{
		background: #916d3b;
	}
	.header .nav.social>li{
		display: inline-block;
	}
	.header .navbar-nav.social>li>a{
		border: 1px solid #c0c0c0;
		outline: #383838 solid 1px;
	}
	.post img{
		display: none;
	}
	.side-blog h3{
		margin: 20px 0 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .header .navbar-brand{
    	padding-top: 20px;
    }
    .navbar-header {
        float:none;
    }
    .header .navbar-toggle.btn{
    	margin-right: 60px;
    }
    .header .btn{
    	margin: 20px 50px;
    }
    .header #main-menu,
    .main-menu li,
    .navbar-nav,
    .navbar-nav>li{
    	float: none;
    }
    .main-menu, 
    .header .nav.social{
    	text-align: center;
    }
    .header .navbar-nav.social>li>a, 
    .header .main-menu>li>a{
    	color: #fff;
    }
    .header #main-menu{
    	background: #0a0a0a;
    	margin: 0 -16px;
    	padding: 0;
    }
    .main-menu>li{
    	border-bottom: 1px solid #2f2f2f;
    }
    .header .nav.social>li{
    	display: inline-block;
    }
    .header .navbar-nav.social>li>a{
    	border: 1px solid #fff;
    }
}


/* Index - content*/
.reviews{
	padding: 25px;
}
.book-reviews{
	color: #432c0c;
	position: relative;
}
.review-title{
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.review-title .h4{
	font-weight: bold;
	font-size: 14px;
}
.reviews-col:nth-child(2n+3){
	clear: both;
}
.description.italic{
	font-size: 14px;
	font-style: italic;
	padding-bottom: 10px;
}
.author-italic{
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 1px;
}
.book-reviews .btn{
	margin-bottom: 160px;
}
.content-mdl{
	position: relative;
	background: #f3f3f3;
}
.content-mdl .author{
	max-width: 1000px;
	margin: 0 auto;
}
.content-mdl-top img.abs{
	position: relative;
	height: 180px;
	width: 180px;
	top: -50px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}
.author .pstyle{
	margin-bottom: 0;
	color: #876d49;
	font-size: 30px;
	font-weight: bold;
}
.author .pstyle2 a{
	display: block;
	margin: 0;
	color: #9d9d9d;
	font-size: 16px;
	font-family: 'PT Serif', serif;
}
.separator{
	display: none;
}
.author .pstyle3{
	margin: 0 auto;
	padding: 30px 15px;
	color: #432c0c;
	font-size: 16px;
	font-family: 'PT Serif', serif;
	font-weight: normal;
}
.author .btn{
	margin-top: 0;
}
.content-mdl .title{
	color: #919191;
	text-align: center;
}
.content-mdl .title span.text-center{
	position: relative;
	display: inline-block;
	padding: 5px 25px;
	margin: 60px 0 35px 0;
	border: 2px solid #c2c2c2;
	outline: #ffffff solid 1px;
	background: #f3f3f3;
	z-index: 2;
}
.content-mdl .title:before{
	left: 0;
}
.content-mdl .title:before, 
.content-mdl .title:after{
	position: absolute; 
	content: " ";
	top: 59%;
	width: 50%;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #ffffff;
}
.content-mdl .title:after{
	right: 0;
}
.coun-title{
	margin: 0;
	padding: 10px 0;
	color: #7a7a7a;
	background: #e2e2e2;
	font-weight: 700;
	text-align: center;
}
.coun-description{
	margin-bottom: 20px;
	padding: 35px 40px;
	color: #7a7a7a;
	background: #ffffff;
	font-size: 18px;
}
.coun-description .tab{
	padding-left: 20px;
}
.home-blog .btn,
.content-mdl-top .btn{
	padding: 15px 35px;
	font-size: 16px;
}
.home-blog .blog-post .blog-title{
	font-size: 18px;
}
.blog-post .description{
	letter-spacing: 0;
}
.counseling-col{
	margin: 15px;
	padding: 0 15px;
}
.stor-essay{
	padding-bottom: 60px;
}
.interviews h6,
.stor-essay h6{
	color: #585858;
	font-weight: bold;
	font-size: 20px;
}
.interviews p,
.stor-essay p{
	padding-left: 20px;
	color: #8b8b8b;
}
/*content*/
@media (max-width: 767px){
	.reviews{
		margin: 0;
		border-bottom: 1px solid #c7a77b;
	}
	.book-reviews .col-xs-12:last-child .reviews{
		border-bottom: none;
	}
	.book-reviews .row{
		text-align: center;
	}
	.interviews .row,
	.stor-essay .row{
		text-align: center;
	}
	.counseling-col{
		max-width: 490px;
		margin: 0 auto;
	}
}
@media (max-width: 479px){
	.btn{
		font-size: 16px;
	}
	.reviews{
		padding: 25px 0;
	}
	.col-xs-6{
		width: 100%;
	}
	.coun-description{
		padding: 35px 15px;
	}
}
@media (min-width: 992px){
	.review-title{
		font-size: 25px;
		margin: 20px 0 35px;
	}
	.review-title .h4{
		font-size: 18px;
	}
	.description.italic{
		font-size: 16px;
	}
	.author-italic{
		font-size: 18px;
	}
	.author .pstyle2 a{
		display: inline-block;
	}
	.separator{
		display: inline-block;
	}
	.author .pstyle3{
		max-width: 86%;
	}
	.home-blog .blog-post .blog-title{
		font-size: 20px;
	}
}


/* Author - Content */
.content-banner{
	height: 625px;
	padding-top: 135px;
	padding-bottom: 100px;
	background-size: cover;
	background: url(../images/author-banner.jpg) no-repeat 50% 50%;
}
.content-banner .author-name{
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
}
.content-banner .author-info a,
.separator{
	color: #fff3e3;
	font-size: 20px;
}
.author img{
	width: 252px;
	height: 252px;
	margin: 0 auto;
	border-radius: 125px;
	border: 5px solid #f3f3f3;
}
.author-content p{
	color: #432c0c;
	margin: 20px 0;
}
.author-content{
	padding: 40px 0;
}
.author-content .title span.text-center{
	width: 250px;
	margin: 35px 0;
}
.about-author .btn-primary{
	padding: 20px 55px;
}
.about-author .btn{
	margin: 30px 0 20px;
}
.counceling-author{
	max-width: 1000px;
	margin: 0 auto;
}
.counceling-author p{
	padding: 0 15px;
	margin-bottom: 30px;
	font-size: 22px;
	font-family: 'Century Gothic';
}

@media (max-width: 480px){
	.author-content .btn{
		margin: 0;
		font-size: 16px;
	}
}
/* Blog - Content*/
.blog-content{
	padding: 40px 0;
}
.blog-content .btn{
	width: 220px;
	margin: 10px 0;
	padding: 10px 0;
	font-size: 14px;
}
.blog-content .blog-post{
	padding: 35px 5px;
}
.see-more .btn,
.old-post .btn{
	margin-top: 35px;
	margin-left: 5px;
	padding: 25px;
	color: #ffffff;
	background: #2f2f2f;
	font-size: 18px;
}
.see-more .btn{
	padding: 15px 30px;
	font-size: 14px;
}
.blog-post{
	padding: 30px 5px;
	color: #432c0c;
	border-bottom: 1px solid #ffdcad;
} 
.blog-post .blog-date{
	color: #6d5536;
	font-size: 16px;
	font-family: serif;
}
.blog-post .blog-title{
	margin: 0;
	font-weight: 700;
	font-size: 25px;
}
.blog-post img{
	margin: 20px auto;
	border: 3px solid #ffffff;
}
.blog-menu{
	padding: 60px 0;
}
.blog-menu .title{
	margin-top: 40px;
	margin-bottom: 10px;
}
.blog-menu .title span.text-center{
	margin: 0;
}
.blog-menu a{
	color: #432c0c;
	font-size: 18px;
}
.blog-menu .tags ul li{
	display: inline-block;
	margin: 10px 0;
}
.blog-menu .tags a{
	padding: 5px 10px;
	background: #c19c69;
}
.blog-post:after{
	position: absolute; 
	content: " ";
	bottom: -2px;
	right: 15px;
	left: 15px;
	padding-top: 1px;
	border-bottom: 1px solid #876d49;
	z-index: -1;
}
@media(max-width: 991px){
	.old-post{
		text-align: center;
	}
	.blog-menu{
		padding-top: 0;
	}
}
@media (max-width: 767px){
	.blog-content{
		padding: 0;
	}
}
@media(min-width: 992px){
	.blog-post{
		padding: 0 5px 35px;
	}
}

/* Contact - Content*/
.contact-content{
	padding: 50px 0;
}
.content .contact-content .title span{
	margin: 45px 0;
}
.contact-content img{
	width: 125px;
	height: 125px;
}
.contact-content .author{
	height: 600px;
	margin: 15px 0;
	padding: 100px 0;
	border-right: 1px solid #ffdcad;
}
.contact-content .author:after{
	content: " ";
	position: absolute;
	top: 15px;
	left: 0;
	right: 14px;
	bottom: 15px;
	border-right: 1px solid #876d49;
}
.contact-content .author-forms{
	color: #432c0c;
}
.contact-content .author-name{
	font-weight: 700;
	font-size: 30px;
}
.contact-content .author-info a{
	color: #855b21;
	font-size: 20px;
}
.forms .btn-send{
	padding: 20px 45px;
}
.author-forms{
	padding: 20px 0;
}
.forms input.form-control,
.forms textarea.form-control{
	height: 60px;
	color: #ffffff;
	background: #867153;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
}
.forms textarea.form-control{
	height: 200px;
}
.forms .input-name{
	margin: 15px 0;
	font-size: 16px;
}
@media(max-width: 768px){
	.contact-content .author{
		height: 500px;
		padding: 50px 0;
		border-right: none;
		border-bottom: 1px solid #ffdcad;
	}
	.contact-content .author:after{
		left: 15px;
		bottom: 13px;
		border-right: none;
		border-bottom: 1px solid #876d49;
	}
	.contact-content .title span.text-center{
		margin: 0;
	}
}

/* Book - Content*/
.book-head,
.book-content{
	color: #432c0c;
}
.book-head .book-top{
	margin: 40px 0;
}
.book-top .star{
	position: relative;
}
.book-top .star:after,
.book-top .star:before{
	position: absolute;
	content: " ";
	top: 50%;
	width: 33%;
	border: 1px solid #b38f5d;
}
.book-top .star:before{
	left: 0;
}
.book-top .star:after{
	right: 0;
}
.book-top .book-award{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
}
.book-left{
	padding-top: 20px;
}
.book-right .book-title{
	margin: 0;
	font-size: 92px;
	font-weight: 700;
}
.book-right .sub-head{
	padding-bottom: 10px;
	font-size: 18px;
	font-style: italic;
}
.book-right .book-author{
	font-size: 32px;
}
.book-right .book-price{
	display: inherit;
	color: #6d5536;
	font-size: 26px;
}
.book-right .btn.btn-primary{
	width: 100%;
	max-width: 240px;
}
.book-content{
	margin-top: 50px;
	margin-bottom: 70px;
}
.book-content .title span.text-center{
	margin: 15px 0;
}
.book-content p.description{
	padding: 15px 0;
}
@media(max-width: 767px){
	.book-award span.enter{
		display: block;
	}
	.book-left img,
	.book-right{
		margin:0 auto;
		text-align: center;
	}
	.book-left img{
		width: 410px;
		height: 300px;
	}
	.book-right .book-title{
		font-size: 60px;
	}
}
@media(max-width: 479px){
	.description{
		font-size: 16px;
	}
	.book-head .book-top{
		margin: 30px 0;
	}
	.book-top .book-award{
		font-size: 15px;
	}
	.book-right .book-title{
		font-size: 32px;
	}
	.book-right .book-author{
		font-size: 18px;	
	}
	.book-right .book-price{
		font-size: 16px;
	}
	.book-left img{
		width: 285px;
		height: 200px;
	}
	.book-award span.enter{
		display: inline;
	}
	.book-top .star:after, 
	.book-top .star:before {
		width: 25%;
	}
	.book-top .star:before{
		left: -15px;
	}
	.book-top .star:after{
		right: -15px;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.book-top .book-award{
		max-width: 62%;
		margin: 20px auto;
		letter-spacing: 1px;
	}
	.book-left img {
		margin: 0 auto;
	}
	.book-right{
		text-align: center;
	}
	.book-right .book-title{
		font-size: 60px;
	}
	.book-right .sub-head{
		font-size:  30px;
	}
	.book-top .star:after, 
	.book-top .star:before{
		width: 42%;
	}
	.review-title{
		margin: 0 auto 30px;
		max-width: 59%;
		font-size: 25px;
		letter-spacing: 0;
	}
	.review-title .h4{
		font-size: 18px;
	}
	.description.italic,
	.author-italic{
		text-align: center;
	}
	.description.italic{
		font-size: 16px;
	}
	.author-italic{
		font-size: 18px;
	}
	.reviews{
		margin-top: 0;
		border-top: 1px solid #c7a77b;
	}
	.author .pstyle2 a{
		display: inline-block;
	}
	.separator{
		display: inline-block;
	}
	.counseling-author p{
		font-size: 18px;
	}
	.counsel-cont{
		padding: 0 70px;
	}
	.interviews h6, 
	.stor-essay h6,
	.interviews p, 
	.stor-essay p{
		text-align: center;
	}
	.content-mdl .title span.text-center{
		margin: 35px 0;
	}
}
@media(min-width: 992px){
	.book-award{
		letter-spacing: 5px;
	}
	.book-top .star:after, 
	.book-top .star:before{
		width: 42%;
	}
	.book-head .book-top{
		margin: 80px 0;
	}
}
/* Footer */
.footer{
	position: relative;
	padding-top: 45px;
	color: #b5b5b5;
	background: #f3f3f3;
	font-size: 16px;
}
.footer .title{
	display: block;
	margin: 30px 0;
	color: #929292;
}
.footer .description a{
	letter-spacing: 0;
	color: #9d9d9d;
}
.footer input[type="text"]{
	max-width: 165px;
	padding: 10px 15px;
	border: 1px solid #c8c8c8;
	background: transparent;
	font-family: 'PT Serif', serif;
}
.footer .btn-submit{

	margin: 0 0 4px -4px;
	padding: 11px 5px;
	background: #000;
	font-size: 16px;
}
.fcol-newslet input{
	display: inline-block;
}
.footer ul>li>a{
	color: #b5b5b5;
}
.footer .nav>li{
	display: inline-block;
}
.footer .collapse{
	display: block;
}
.footer .fa-plus,
.footer .fa-minus{
	display: none;
}
.footer .nav.social>li>a{
	width: 38px;
	height: 38px;
	margin: 20px 7px;
	padding: 6px 0;
	border: 3px solid #b5b5b5;
	text-align: center;	
}
.footer .copy-right{
	display: inline-block;
	margin: 20px 0;
	padding: 10px 22px;
	border: 2px solid #c2c2c2;
	font-weight: 700;
}
@media (max-width: 479px){
	.footer .col-xs-12 .col-xs-6{
		width: 100%;
	}
	.footer .collapse{
		display: none;
	}
	.footer .fa-minus{
		display: inline-block;
	}
	.footer .collapsed .fa-minus{
		display: none;
	}
	.footer .collapsed .fa-plus{
		display: inline-block;
	}
	.footer .collapse.in{
		display: block;
	}
	.footer .title.quick-links{
		margin: 0;
		padding: 20px 0;
		color: #ffffff;
		background: #2f2f2f;
	}
	.footer ul#quick-links{
		padding: 10px 0;
		background: #929292;
	}
	.footer ul#quick-links>li>a{
		color: #ebebeb;
	}
	.footer input[type="text"]{
		width: 70%;
	}
	.footer .btn-submit{
		width: 30%;
	}
}
@media(min-width: 992px){
	.footer .copy-right{
		float: left;
		margin: 25px 30px;
		padding: 10px 30px;
	}
	.book-right .sub-head{
		font-size: 32px
	}
	.footer{
		padding: 45px 0;
	}
}